body{
    font-family: 'Montserrat';
    margin:0 0 0 0;
}
.navbar-brand{
    font-style: "Staaliches";
    font-family: "Staaliches";
    font-weight: 400;
    font-size: 40px;
}
.navbar-brand:hover{
    color: darkred;
    transform: 50px;
}
.nav-item{
    text-align: left;
    font-weight: bolder;
}




#title{
    background-color: #ACC6AA;
    text-align: center;
    position: relative;
}
.container-fluid{
    padding: 5% 4% 17% 4%;
}
.big-heading{
    font-style:"Montserrat";
    font-weight: 900;
    text-align: left;
    font-size: 3rem;
    padding-top: 4%;
}
.head-description{
    font-style: italic;
    font-weight: 600;
}
.title-image{
    width: 40%;
    position: absolute;
    left: 50%;
}
@media(max-width:1028px){
    .title-image{
        position: static;
        padding-bottom: 0;
        width: 60%;
    }
}
/* DESCRIPTION SECTION  */

#description{
    background-color: #2B3467;
    padding: 5% 4% 10% 4%;
    color: #fff;
    text-align: center;
    font-family: "Staaliches";
    font-weight: 400;
}
.card{
    color: #2B3467;
    margin: 5px;
}
#footer{
    text-align: center;
    margin: 0;
    padding: 0;
}
.footer-section{
    padding: 10px;
}
.social-icon:hover{
    color: cadetblue;
}
